* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  flex: 1 1 auto;
  background-image: url(poly-background.jpg);
  background-size: cover;
}
.aside {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgba(37, 37, 37, 0.137);
  flex: 1 1 auto;
}
.article {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  flex: 2 1 auto;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
}
