* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex: 1 1 auto;
  background-image: url(nyc-bg.jpg);
  background-size: cover;
  filter: sepia(0.3);
}
.aside {
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 1 1 33%;
  z-index: 10;
}
.logo {
  transform: translateY(20vh);
  background-color: rgba(0, 0, 0, 0.089);
  width: 100%;
  padding: 3rem;
  text-align: center;
  font-family: "Trade Winds", system-ui;
  font-size: clamp(1rem, 4vw, 3rem);
  font-weight: 1000;
  color: white;
  text-shadow: 5px 1px 1px rgba(0, 0, 0, 0.082);
  transform: matrix3d(10deg);
}
.logo::before {
  position: absolute;
  content: "Pieciks";
  color: rgb(255, 228, 154);
  filter: blur(30px);
  z-index: -1;
}
.logo:after {
  position: absolute;
  content: "5x";
  font-size: 0.5em;
  transform: translate(5px, 5px) skewX(-15deg) rotate(-20deg);
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  flex: 1 2 auto;
}
.heading {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.heading h3 {
  margin: 0.25rem 0;
  font-weight: 300;
  letter-spacing: 1px;
}
.form {
  width: 100%;
  box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 3rem;
}
.form h2 {
  margin-bottom: 2rem;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
}
@media only screen and (max-width: 768px) {
  .inputs {
    align-items: center;
    justify-content: center;
  }
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: min(3rem, 2vw);
}
label {
  font-size: 0.75rem;
  letter-spacing: 0.5ch;
  font-weight: 600;
  color: rgb(39, 39, 39);
  margin-bottom: 0.2rem;
}
input {
  padding-block: 0.4rem;
  padding-left: 0.5rem;
  width: calc(8rem + 10vw);
  corner-shape: squircle;
  border-radius: 10rem;
  border: 1px solid rgb(192, 192, 192);
  outline: none;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.1s ease-in-out;
}
input[type="password"]:invalid {
  border-color: red;
}
input:focus {
  border-color: rgb(89, 155, 255);
  box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.form__footer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.form__footer input {
  display: flex;
  flex: 1 1 auto;
  max-width: calc(8rem + 10vw);
  padding: 1rem;
  background-color: rgb(235, 145, 61);
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: 800;
  color: white;
  text-shadow: 2px 1px 1px rgba(179, 125, 44, 0.95);
  box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.1);

  transition:
    color 0.13s ease-in-out,
    text-shadow 0.33s ease-in-out,
    background-color 0.1s ease-in;
}
.form__footer input:hover {
  background-color: rgb(247, 244, 242);

  color: rgba(0, 0, 0, 0.75);
  text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.error {
  color: red;
  margin: 1rem;
  height: 20px;
}
a:any-link {
  color: rgb(173, 84, 0);
  font-weight: 600;
  text-decoration: none;
}
